/*--------------------------------------------------------------
  # Start About page
--------------------------------------------------------------*/

.about_info_section {
    padding: 100px 0;
    .services_img {
        margin-inline-end: 70px;
        max-width: 560px;
        img {
            max-width: 100%;
            height: auto;
        }
    }
    .services_content {
        .a_info_list {
            margin-top: 40px;
        }
        .a_info_list.ul_li li {
            width: 50%;
            margin-bottom: 30px;
            display: flex;
            align-items: center;
            color: #1b2026;
            font-size: 18px;
            font-weight: 500;
            i {
                width: 40px;
                height: 40px;
                background: #Fff;
                text-align: center;
                line-height: 40px;
                margin-right: 12px;
                border-radius: 7px;
                box-shadow: 0px 12px 8px 0px rgb(213 151 96 / 6%);
            }
        }
    }
}

.cta_area {
    position: relative;
    overflow: visible;
    margin-bottom: 50px;
    margin-top: 40px;
    .cta_bg_2 {
        position: relative;
        z-index: 1;
        padding: 70px 0;
        padding-inline-start: 80px;
        &::before {
            position: absolute;
            left: 0;
            top: 0;
            width: 76%;
            height: 100%;
            background: #f2f2f2;
            content: "";
            z-index: -1;
            border-radius: 30px;
            -webkit-border-radius: 30px;
            -moz-border-radius: 30px;
            -ms-border-radius: 30px;
            -o-border-radius: 30px;
        }
    }
    .cta_img {
        position: absolute;
        right: 0;
        bottom: 0;
    }
}

.team_area {
    padding: 90px 0;
    .team_single {
        background: #fff;
        border-radius: 15px;
        padding: 30px;
        padding-bottom: 0;
        margin-bottom: 30px;
        text-align: center;
        .team_thumb {
            max-width: 315px;
            margin: auto;
            border-radius: 50%;
        }
        .team_text {
            margin-top: 32px;
            margin-bottom: 30px;
            h3 {
                font-size: 18px;
                text-transform: uppercase;
                font-family: "Inter", sans-serif;
                font-weight: 700;
                margin-bottom: 5px;
            }
            span {
                font-size: 14px;
                text-transform: uppercase;
                color: $mainColor;
                font-weight: 500;
            }
        }
        .team_social a {
            font-size: 14px;
            height: 40px;
            width: 40px;
            color: #706c61;
            background: #f7f6f3;
            display: inline-block;
            margin: 0 4px;
            text-align: center;
            line-height: 40px;
            border-radius: 10px 10px 0 0;
            -webkit-border-radius: 10px 10px 0 0;
            -moz-border-radius: 10px 10px 0 0;
            -ms-border-radius: 10px 10px 0 0;
            -o-border-radius: 10px 10px 0 0;
            &:hover {
                background-color: $mainColor;
                color: #fff;
            }
        }
    }
}


/*--------------------------------------------------------------
  # End About page
--------------------------------------------------------------*/

@media(max-width:991.98px) {
    .about_info_section .services_img {
        margin-inline-end: 0;
        margin-bottom: 50px;
    }
    .cta_area {
        margin-top: 0;
        .cta_img {
            display: none;
        }
    }
    .cta_area .cta_bg_2::before {
        width: 100%;
    }
}

@media(max-width:767.98px) {
    .cta_area .cta_bg_2 {
        padding: 60px 20px;
    }
}

@media(max-width:575.98px) {
    .about_info_section .services_content .a_info_list {
        display: block;
        li {
            width: 100% !important;
        }
    }
}