/*--------------------------------------------------------------
  # Start slider
--------------------------------------------------------------*/

@mixin mediaMaxH($height) {
    @media screen and (max-height: $height) {
        @content;
    }
}

@mixin mediaMaxW($width) {
    @media screen and (max-width: $width) {
        @content;
    }
}

$bgImage: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/537051/image.jpg') center center no-repeat;
$showDelay: 350ms;
$textShowDelay: $showDelay+1000ms;
$topSpeed: 650ms;
$bot-TextSpeed: 1000ms;
$contSpeed: 1400ms;
$skewColor: rgba(0,
0,
0,
.4);
$slide1TopTextClr: #aa9150;
$slideBotTextClr: #fff;
.header {
    direction: ltr;
}

.con {
    position: relative;
    height: 100vh;
    background: $bgImage;
    background-size: cover;
    overflow: hidden;
    .img_slide {
        max-width: 600px;
    }
    //////////// Slide General /////////////
    &__slide {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        &-h {
            display: inline-block;
            text-align: center;
            text-transform: uppercase;
            font: {
                size: 60px;
            }
        }
        &-top,
        &-bot {
            position: absolute;
            background: $skewColor;
        }
        &-top {
            top: -200px;
            left: -835px;
            height: 1235px;
            width: 550px;
            transform: rotate(25deg);
            transition: transform $topSpeed $bot-TextSpeed;
            &-inner {
                position: fixed;
                top: 120px;
                right: -175px;
                width: 100%;
                height: 500px;
                transform: rotate( -30deg);
                overflow: hidden;
                &-text {
                    position: absolute;
                    right: 179px;
                    top: 560px;
                    transform: rotate( -45deg);
                    transition: transform 1000ms;
                }
            }
        }
        &-bot {
            top: -50px;
            left: -884px;
            width: 700px;
            height: 1700px;
            transform: rotate(-45deg);
            overflow: hidden;
            transition: transform $bot-TextSpeed $bot-TextSpeed + 100ms;
            &-text {
                position: absolute;
                right: -440px;
                top: 430px;
                transform: rotate(45deg);
                transition: transform $bot-TextSpeed;
            }
        }
    }
    /////////////// Slide 1 //////////////
    &__slide--1 {
        &-top {
            &-h {
                text-shadow: 0 0 1px $slide1TopTextClr;
                color: $slide1TopTextClr;
            }
        }
        &-bot {
            &-h {
                text-shadow: 0 0 1px $slideBotTextClr;
                color: $slideBotTextClr;
            }
        }
        &-content {
            position: absolute;
            right: 300px;
            top: 50%;
            transform: translateY(-55%);
            opacity: 0;
            transition: transform $bot-TextSpeed, opacity $bot-TextSpeed;
            @include mediaMaxW(1350px) {
                right: 15%;
            }
            @include mediaMaxW(1160px) {
                right: 5%;
            }
            &-logo {
                fill: #e5e5e5;
                @include mediaMaxH(730px) {
                    width: 300px;
                }
                @include mediaMaxW(1350px) {
                    width: 300px;
                }
            }
        }
    }
    /////////// Slide Right /////////////
    &__slide--right {
        &-top {
            left: initial;
            right: -195px;
            right: -780px;
            transform: rotate(-25deg);
            transition: transform $topSpeed $bot-TextSpeed;
            &-inner {
                top: 50px;
                left: -170px;
                transform: rotate( 26deg);
                overflow: overflow;
                &-text {
                    right: 10px;
                    top: 620px;
                    transform: rotate(45deg);
                    animation: initial;
                    transition: transform $bot-TextSpeed 0s;
                }
            }
            &-h {
                width: 450px;
                text-shadow: 0 0 1px $slide1TopTextClr;
                color: $slide1TopTextClr;
            }
        }
        &-bot {
            left: initial;
            right: -84px;
            right: -884px;
            transform: rotate(45deg);
            animation: initial;
            overflow: hidden;
            transition: transform $bot-TextSpeed $bot-TextSpeed + 100;
            &-text {
                left: -560px;
                top: 150px;
                transform: rotate(-45deg);
                animation: initial;
                transition: transform $bot-TextSpeed 0s;
                //transition-delay: 0s;
            }
            &-h {
                text-shadow: 0 0 1px $slideBotTextClr;
                color: $slideBotTextClr;
            }
        }
        &-content {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-95%, -45%);
            opacity: 0;
            transition: transform $contSpeed 0s, opacity $contSpeed 0s, z-index 0s 2.2s;
            z-index: -9999;
            &-image {
                @include mediaMaxH(730px) {
                    width: 80%;
                }
                @include mediaMaxW(1366px) {
                    width: 80%;
                }
            }
        }
    }
    ////////////// Slide 3 ////////////////
    &__slide--3 {
        &-top {
            &-h {
                text-shadow: 0 0 1px $slide1TopTextClr;
                color: $slide1TopTextClr;
            }
        }
        &-bot {
            &-h {
                text-shadow: 0 0 1px $slideBotTextClr;
                color: $slideBotTextClr;
            }
        }
        &-content {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translateY(-45%);
            opacity: 0;
            transition: transform $contSpeed 0s, opacity $contSpeed 0s, z-index 0s 2.2s;
            &-image {
                width: 500px;
                @include mediaMaxH(730px) {
                    width: 400px;
                }
                @include mediaMaxW(1366px) {
                    width: 400px;
                }
            }
        }
    }
    ////////////// Slide 4 ////////////////
    &__slide--4 {
        &-top {
            &-h {
                &-link {
                    position: relative;
                    text-decoration: none;
                    text-shadow: 0 0 1px $slide1TopTextClr;
                    color: $slide1TopTextClr;
                }
            }
        }
        &-bot {
            &-h {
                &-link {
                    text-decoration: none;
                    text-shadow: 0 0 1px $slideBotTextClr;
                    color: $slideBotTextClr;
                    z-index: 20;
                }
            }
        }
    }
    //////////////// Nav Sidebar //////////////
    &__nav {
        position: absolute;
        // top: 50%;
        // right: 2%;
        bottom: 7%;
        left: 50%;
        transform: translateX(-50%);
        &-list {
            list-style-type: none;
        }
        &-item {
            display: inline-block;
            position: relative;
            margin-left: 8px;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            border: 2px solid #e5e5e5;
            cursor: pointer;
            &:after {
                content: ' ';
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%) scale(0, 0);
                width: 75%;
                height: 75%;
                border-radius: 50%;
                background: #e5e5e5;
                transition: 300ms;
                opacity: 0;
                overflow: hidden;
            }
            &:hover:after {
                transform: translate(-50%, -50%) scale(1, 1);
                opacity: 1;
            }
        }
        &-item--1 {
            margin-left: 0;
        }
        &-scroll {
            position: absolute;
            top: 1px;
            transform: rotate(-45deg);
            width: 17px;
            height: 17px;
            border: 2px solid #e5e5e5;
            border-right: transparent;
            border-bottom: transparent;
            cursor: pointer;
            transition: 300ms;
            &:hover {
                transform: rotate(-45deg) scale(1.2, 1.2);
            }
            &--goup {
                left: -30px;
            }
            &--godown {
                transform: rotate(-225deg);
                right: -30px;
                &:hover {
                    transform: rotate(-225deg) scale(1.2, 1.2);
                }
            }
        }
    }
    .active {
        //////////// Slides Left /////////////
        .active-slide-left-top {
            transform: translate(640px, 0px) rotate( 30deg);
            transition: transform 650ms cubic-bezier(0, 0, 0.21, 1.02);
            z-index: 2;
        }
        .active-slide-left-bot {
            transform: translateX(800px) rotate(-45deg);
            transition: transform $bot-TextSpeed $showDelay;
        }
        .active-slide-left-content {
            transform: translateY(-50%);
            opacity: 1;
            transition: transform $bot-TextSpeed $textShowDelay, opacity $bot-TextSpeed $textShowDelay;
        }
        ///////////// Slides Right /////////////
        .active-slide-right-top {
            transform: translateX(-585px) rotate( -25deg);
            transition: transform 650ms;
            z-index: 2;
        }
        .active-slide-right-bot {
            transform: translateX(-800px) rotate(45deg);
            transition-delay: $showDelay;
        }
        .active-slide-right-content {
            transform: translate(-95%, -50%);
            opacity: 1;
            z-index: 10;
            transition: transform $contSpeed $textShowDelay, opacity $contSpeed $textShowDelay, z-index 0s 1s;
        }
        /////////// Slide 1 ////////////
        .active-slide1-top-text {
            transform: translate(0, -282px) rotate( 0deg);
            transition: transform 1000ms 1350ms;
        }
        .active-slide1-bot-text {
            transform: translate(-117px, 31px) rotate(45deg);
            transition: transform $bot-TextSpeed $textShowDelay;
        }
        ////////////// Slide 2 /////////////
        .active-slide2-top-text {
            transform: translate(-43px, -299px) rotate(0);
            transition-delay: 1350ms;
        }
        .active-slide2-bot-text {
            transform: translate(127px, -116px) rotate(-45deg);
            transition-delay: $textShowDelay;
        }
        ////////////// Slide 3 /////////////
        .active-slide3-top-text {
            transform: translate(54px, -370px) rotate( 0deg);
            transition: transform 1000ms 1350ms;
        }
        .active-slide3-bot-text {
            transform: translate(-190px, 43px) rotate(45deg);
            transition: transform $bot-TextSpeed $textShowDelay;
        }
        ////////////// Slide 4 /////////////
        .active-slide4-top-text {
            transform: translate(-55px, -320px) rotate(0);
            transition: transform 1000ms 1350ms;
        }
        .active-slide4-bot-text {
            transform: translate(127px, -116px) rotate(-45deg);
            transition: transform $bot-TextSpeed $textShowDelay;
        }
    }
}

.nav-active {
    &:after {
        transform: translate(-50%, -50%) scale(1, 1);
        opacity: 1;
    }
}

.wavesshape {
    bottom: -2px;
    left: 0;
    position: absolute;
    right: 0;
    top: auto;
    width: 100%;
    height: auto;
    z-index: 1;
    &.top {
        top: 0;
        bottom: auto;
    }
    img {
        width: 100%;
    }
}


/*--------------------------------------------------------------
  # End slider
--------------------------------------------------------------*/


/*--------------------------------------------------------------
  # Start tabs section
--------------------------------------------------------------*/

.tabs-section {
    padding: 30px 0;
    margin-top: 30px;
    .owl-carousel {
        .owl-nav {
            button {
                background: none !important;
                width: 40px;
                height: 40px;
                color: #333 !important;
                font-size: 25px;
                display: flex;
                align-items: center;
                justify-content: center;
                &:hover {
                    background-color: $mainColor !important;
                    color: #fff !important;
                }
            }
        }
    }
    .item {
        border-top: 4px solid transparent;
        text-align: center;
        color: rgba(68, 70, 72, 0.64);
        cursor: pointer;
        padding: 20px 0;
        span {
            display: block;
            color: #333;
            transition: .3s;
        }
        .name {
            margin-top: 15px;
            text-transform: capitalize;
            font-size: 18px;
        }
        .image {
            svg {
                width: 65px;
                height: auto;
                fill: #333;
                transition: .3s;
            }
        }
        &:hover {
            span {
                color: $mainColor;
            }
            .image {
                svg {
                    fill: $mainColor;
                    transform: rotate(8deg);
                }
            }
        }
    }
}


/*--------------------------------------------------------------
  # End tabs section
--------------------------------------------------------------*/


/*--------------------------------------------------------------
  # Start Features section
--------------------------------------------------------------*/

.features_section {
    margin-top: 30px;
    .box {
        display: block;
        position: relative;
        .elementor-cta__bg-wrapper {
            border-radius: 16px 16px 16px 16px;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            -webkit-transition: all .4s;
            -o-transition: all .4s;
            transition: all .4s;
            width: 100%;
            z-index: 1;
            overflow: hidden;
            .elementor-cta__bg {
                transform: translateX(-50px);
                width: calc(100% + 50px);
                background-size: cover;
                background-position: center;
                z-index: 1;
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                -webkit-transition: all .3s;
                -o-transition: all .3s;
                transition: all .3s;
            }
            .elementor-cta__bg-overlay {
                background-color: #00000096;
                transition-duration: 400ms;
                z-index: 2;
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                -webkit-transition: all .4s;
                -o-transition: all .4s;
                transition: all .4s;
            }
        }
        .elementor-cta__content {
            min-height: 350px;
            position: relative;
            -webkit-transition: .5s;
            -o-transition: .5s;
            transition: .5s;
            color: #fff;
            z-index: 1;
            overflow: hidden;
            padding: 35px;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: baseline;
            .name {
                font-size: 20px;
                font-weight: 700;
                margin-bottom: 10px;
            }
            .price {
                font-family: PottaOne, Sans-serif;
                font-size: 40px;
                margin-bottom: 15px;
            }
            .text {
                font-size: 18px;
                line-height: 22px;
                margin-bottom: 30px;
            }
        }
        &:hover {
            .elementor-cta__bg {
                -ms-transform: scale(1.2);
                -o-transform: scale(1.2);
                -moz-transform: scale(1.2);
                -webkit-transform: scale(1.2);
                transform: scale(1.2);
            }
        }
    }
}


/*--------------------------------------------------------------
  # End Features section
--------------------------------------------------------------*/


/*--------------------------------------------------------------
  # Start Products section
--------------------------------------------------------------*/

.popular_products {
    .product_box {
        margin-bottom: 30px;
    }
}

.products_section {
    .list_menu {
        border-bottom: 1px solid #E0E0E0;
        margin: 40px 0;
        ul {
            display: flex;
            justify-content: center;
            li {
                font-family: oswald, Sans-serif;
                font-size: 24px;
                font-weight: 600;
                color: #333;
                border-style: solid;
                border-width: 0 0 2px;
                border-color: #c6202e00;
                padding: 0 0 15px;
                cursor: pointer;
                transition: .3s;
                &:not(:last-of-type) {
                    margin-inline-end: 40px;
                }
                &.active {
                    color: $mainColor;
                    border-color: $mainColor;
                }
                &:hover {
                    color: $secColor;
                }
            }
        }
    }
    .products_content {
        .box_content {
            display: none;
            transition: .3s;
            @include start_FadeInUp;
            &.active {
                display: block;
                @include animation_FadeInUp;
            }
        }
        .main-btn.all {
            display: inline-flex;
            align-items: center;
            justify-content: center;
            background: #aa9150;
            border-radius: 60px;
            padding: 8px 40px;
            color: #fff;
            svg {
                width: 35px;
                margin-inline-end: 10px;
                fill: #fff;
            }
            &:hover {
                background-color: $secColor;
            }
        }
    }
}


/*--------------------------------------------------------------
  # End Products section
--------------------------------------------------------------*/


/*--------------------------------------------------------------
  # Start background section
--------------------------------------------------------------*/

.background_one_section {
    background-color: #76C3D4;
    margin: 100px 0;
    background-attachment: fixed;
    // background-color: #aa9150;
    background-image: url(../img/h2_shape.png);
    background-position: bottom center;
    transition: 0.3s;
    padding: 80px 30px;
    overflow: visible;
    .info {
        .small-text {
            color: #FFF;
            font-size: 24px;
            font-weight: 700;
            display: block;
            -webkit-animation-duration: .75s;
            animation-duration: .75s;
        }
        .name {
            margin: 0 0 15px 0;
            color: #FFF;
            font-size: 48px;
            font-weight: 600;
            letter-spacing: .3px;
            -webkit-animation-duration: 1.2s;
            animation-duration: 1.2s;
        }
        .desc {
            margin: 0 0 40px 0;
            color: #fff;
            font-size: 18px;
            -webkit-animation-duration: 1.4s;
            animation-duration: 1.4s;
        }
        .main-btn {
            -webkit-animation-duration: 1.7s;
            animation-duration: 1.7s;
        }
    }
    .image {
        position: absolute;
        top: -200.5px;
        left: 0;
        z-index: 1;
        animation-duration: 2s;
    }
}


/*--------------------------------------------------------------
  # End background section
--------------------------------------------------------------*/


/*--------------------------------------------------------------
  # Start Offer Area section
--------------------------------------------------------------*/

.offer_area {
    margin: 70px 0;
    &::before {
        position: absolute;
        top: 0;
        left: 0;
        width: 65%;
        height: 100%;
        background: #f2f2f2;
        content: "";
        z-index: -1;
        border-radius: 0 10px 10px 0;
    }
    .offer_btn {
        margin-top: 30px;
        li {
            margin-top: 15px;
            margin-inline-end: 50px;
            list-style: none;
            display: inline-block;
            &:last-child {
                margin-inline-end: 0;
            }
        }
    }
    .offer_price h4 {
        color: $mainColor;
        font-size: 40px;
        font-weight: 700;
        font-family: PottaOne, sans-serif;
        del {
            color: #1e1d23;
            font-size: 20px;
            font-weight: 700;
            font-family: 'Roboto', sans-serif;
        }
    }
    .offer_img {
        position: relative;
        margin-top: 45px;
        .d_img {
            position: absolute;
            top: -12px;
            right: -12px;
            max-width: 110px;
        }
    }
}

.sec_title {
    margin-bottom: 20px;
    >span {
        font-size: 22px;
        color: $mainColor;
        margin-bottom: 16px;
        font-family: 'Sofia', cursive;
        display: block;
    }
    >h2 {
        color: #1e1d23;
        font-size: 45px;
        line-height: 1.2;
        text-transform: uppercase;
        margin-bottom: 22px;
    }
    p {
        font-size: 17px;
        font-weight: normal;
        line-height: 28px;
        color: #8d8d8d;
        margin-bottom: 15px;
    }
}

.ul_li {
    justify-content: flex-start;
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}


/*--------------------------------------------------------------
  # End Offer Area section
--------------------------------------------------------------*/


/*--------------------------------------------------------------
  # Start Counter section
--------------------------------------------------------------*/

.counter-section {
    background-image: url(../img/h5_bg-1.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    padding: 90px 0;
    position: relative;
    &:after {
        position: absolute;
        content: "";
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: rgba($color: #292929, $alpha: 0.86);
    }
    .content {
        position: relative;
        z-index: 1;
    }
    .box {
        text-align: center;
        .icon {
            margin: 0 auto;
            svg {
                width: 60px;
                height: auto;
                fill: $mainColor;
                path {
                    fill: $mainColor;
                }
            }
        }
        .cover {
            color: #fff;
            font-family: PottaOne, sans-serif;
            margin: 10px 0 0;
            font-weight: 900;
            display: flex;
            align-items: center;
            justify-content: center;
            .counter {
                font-size: 40px;
            }
            span {
                margin-inline-start: 15px;
                font-size: 20px;
            }
        }
        h4 {
            margin: 0;
            color: #fff;
            font-weight: 900;
        }
    }
}


/*--------------------------------------------------------------
  # End Counter section
--------------------------------------------------------------*/


/*--------------------------------------------------------------
  # Start testimonial section
--------------------------------------------------------------*/

.testimonial_area {
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 71% 100%;
    padding: 120px 0;
    margin: 70px 0;
    .col-md-5,
    .col-md-7,
    .col-lg-5,
    .col-lg-7,
    .row {
        position: unset;
    }
    .tm_content {
        .sec_title>p {
            max-width: 600px;
        }
        .sec_title>h2 {
            color: #fff;
        }
        .tm_counter {
            margin-top: 45px;
            li {
                margin-inline-end: 65px;
                margin-top: 20px;
                &:last-child {
                    margin-inline-end: 0;
                }
            }
            h3 {
                font-size: 40px;
                color: $mainColor;
                font-family: 'Roboto', sans-serif;
                font-weight: 800;
                >span {
                    font-size: 20px;
                    color: $mainColor;
                }
            }
            span {
                font-size: 15px;
                color: #fff;
                font-weight: 700;
                text-transform: uppercase;
            }
        }
    }
}

.testimonial_active {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 42%;
    right: 0;
    .owl-stage {
        padding-left: 0px !important;
    }
    .tm_single {
        padding: 45px;
        border-radius: 15px;
        background: #f7f7f7;
        .tm_top {
            margin-bottom: 22px;
        }
        .tm_author {
            width: 55px;
            height: 55px;
            overflow: hidden;
            border-radius: 7px;
            -webkit-border-radius: 7px;
            -moz-border-radius: 7px;
            -ms-border-radius: 7px;
            -o-border-radius: 7px;
        }
        p {
            font-size: 14px;
            font-weight: normal;
            line-height: 28px;
            color: #8d8d8d;
            margin-bottom: 15px;
        }
        .tm_bottom {
            margin-top: 40px;
        }
        .a_info {
            h4 {
                font-size: 18px;
                text-transform: uppercase;
                font-family: 'Roboto', sans-serif;
                font-weight: 700;
                margin-bottom: 3px;
            }
            span {
                font-size: 14px;
                text-transform: uppercase;
                color: #00a850;
                font-weight: 500;
            }
        }
        .rating_wrap {
            .rating_star {
                margin-bottom: 3px;
                li {
                    color: $mainColor;
                    font-size: 15px;
                    margin-right: 4px;
                }
            }
            span {
                text-transform: uppercase;
                font-weight: 600;
                color: #868685;
                font-size: 14px;
            }
        }
    }
}


/*--------------------------------------------------------------
  # End testimonial section
--------------------------------------------------------------*/


/*--------------------------------------------------------------
  # Start newsletter section
--------------------------------------------------------------*/

.delivary_section {
    background-color: #76C3D4;
    background-attachment: fixed;
    background-image: url(../img/h1_shape.png);
    height: 300px;
    overflow: visible;
    .image {
        background-image: url(../img/pizzaboy_background.png);
        background-position: center center;
        background-size: cover;
        transition: .3s;
        position: absolute;
        top: -50px;
        z-index: 9;
    }
    .info {
        height: 100%;
        display: flex;
        align-items: center;
        padding-inline-start: 70px;
        >div {
            height: 100%;
            display: flex;
            align-items: center;
            .text {
                max-width: 70%;
                flex: 70%;
                h3 {
                    font-size: 36px;
                    color: #FFF;
                }
                p {
                    color: #FFF;
                    width: 70%;
                }
            }
            .call {
                flex: 30%;
                max-width: 30%;
                .main-btn {
                    padding: 20px 0;
                    border-radius: 50px;
                    width: 100%;
                    display: block;
                    text-align: center;
                    font-size: 18px;
                }
            }
        }
    }
}


/*--------------------------------------------------------------
  # End newsletter section
--------------------------------------------------------------*/

@media(max-width:1199.98px) {
    .con {
        .img_slide {
            max-width: 500px;
        }
        .con__slide-content {
            right: 4%;
        }
        .con__slide--right-content {
            right: auto !important;
            left: 42% !important;
        }
    }
    .background_one_section .image {
        img {
            width: 100%;
        }
    }
    .wavesshape.top {
        top: -3px;
    }
    .delivary_section {
        .image {
            img {
                width: 100%;
            }
        }
        .info {
            padding-inline-start: 15px;
            >div {
                height: auto;
                display: block;
                .text {
                    max-width: 100%;
                    flex: 100%;
                }
                .call {
                    flex: auto;
                    max-width: max-content;
                    .main-btn {
                        padding: 15px 30px;
                    }
                }
            }
        }
    }
}

@media(max-width:991.98px) {
    .con {
        .img_slide {
            max-width: 400px;
        }
        .con__slide-h {
            display: none;
        }
        .con__slide-content {
            right: 0 !important;
            left: 0 !important;
            width: 100%;
            display: flex;
            justify-content: center;
            transform: translateY(-50%) !important;
        }
    }
    .wavesshape {
        bottom: -5px;
    }
    .features_section .box {
        margin-bottom: 20px;
    }
    .background_one_section .image {
        top: 0;
    }
    .offer_area {
        .sec_title {
            >span {
                font-size: 20px;
            }
            >h2 {
                font-size: 32px;
            }
        }
        p {
            font-size: 15px;
        }
        .ul_li {
            display: block;
        }
        .offer_btn li {
            margin-right: 0;
            display: block;
        }
        .offer_price h4 {
            font-size: 28px;
            del {
                font-size: 16px;
            }
        }
    }
    .counter-section .box {
        margin-bottom: 40px;
    }
    .wavesshape.top {
        top: -7px;
    }
    .testimonial_area .tm_content .sec_title>h2 {
        font-size: 30px;
        margin-bottom: 15px;
    }
    .testimonial_area .tm_content .sec_title>p {
        font-size: 14px;
    }
    .testimonial_area .tm_content .sec_title>span {
        font-size: 18px;
        margin-bottom: 8px;
    }
    .delivary_section {
        text-align: center;
        .image {
            display: none;
        }
        .info>div {
            width: 100%;
            .text p {
                width: 100%;
            }
            .call {
                display: inline-block;
            }
        }
    }
}

@media(max-width:767.98px) {
    .background_one_section {
        text-align: center;
        .image {
            display: none;
        }
    }
    .offer_area {
        padding: 50px 0;
        &::before {
            width: 100%;
        }
        .offer_img img {
            width: 100%;
        }
    }
    .testimonial_area {
        background-size: cover;
    }
    .testimonial_active {
        width: 100%;
        position: unset;
        transform: translateY(0);
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
        padding-top: 45px;
    }
    .products_section .list_menu ul {
        display: block;
        text-align: center;
        li:not(:last-of-type) {
            margin-inline-end: 0;
        }
    }
}

@media(max-width:575.98px) {
    .con {
        .img_slide {
            max-width: 300px;
        }
    }
    .wavesshape {
        bottom: -7px;
    }
    .background_one_section {
        padding: 80px 15px;
        .info {
            .small-text {
                font-size: 16px;
            }
            .name {
                font-size: 30px;
            }
        }
    }
    .wavesshape.top {
        top: -10px;
    }
}