@charset "UTF-8";

/*--------------------------------------------------------------
# Start Global Page
--------------------------------------------------------------*/

body {
    direction: rtl;
}

.sidebar {
    left: auto;
    right: 0;
    transform: translateX(100%);
}

.features_section .box .elementor-cta__bg-wrapper .elementor-cta__bg {
    transform: translateX(50px);
}

.main-btn:hover i {
    -webkit-transform: translateX(-5px);
    -ms-transform: translateX(-5px);
    transform: translateX(-5px);
}

.main-heading svg {
    transform: rotate( 90deg) rotateY( 180deg);
}

.main-heading svg:last-of-type {
    transform: rotate( -90deg);
}

.testimonial_area {
    background-position: right center;
}

.testimonial_active {
    right: auto;
    left: 0;
}

.offer_area::before {
    left: auto;
    right: 0;
    border-radius: 10px 0 0 10px;
}

.testimonial_active .owl-stage {
    padding-right: 0px !important;
}

.page_header .info span::before {
    right: 0;
    left: auto;
}

.cta_area .cta_img {
    bottom: 0;
    transform: scaleX(-1);
}


/*--------------------------------------------------------------
# End Global Page
--------------------------------------------------------------*/